@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dark-text: #f9faf8;
  --dark-text-secondary: #e5e7eb;
  --blue: #3882f6;
  --gray: #e5e7eb;
}

/* Utilizes */
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.bg-dark {
  background-color: #1f2937;
}

.page-section {
  padding: 80px 0;
}
/* Utilizes */

/* Common Element */
.btn {
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: 600;
}
/* Common Element */

header div.container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--dark-text);
  font-size: 24px;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav > a {
  text-decoration: none;
  font-size: 18px;
  color: var(--dark-text-secondary);
}

/* Hero section */
.hero > .container {
  display: flex;
  justify-content: space-between;
}

.hero > .container > .left {
  width: 40%;
}

.hero .hero-main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: var(--dark-text);
}

.hero .left > p {
  font-size: 18px;
  color: var(--dark-text-secondary);
  padding: 10px 0;
}

.hero .left > button.btn {
  margin-top: 35px;
}
/* Hero section */

/* Information section */
section.information > h2 {
  text-align: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

section.information .information-cards {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

section.information .information-card {
  text-align: center;
}

section.information .information-card img {
  border-radius: 8px;
  margin-bottom: 12px;
}
/* Information section */

/* Quote section */
section.quote {
  background-color: var(--gray);
}

section.quote .quote-text-wrapper {
  width: 65%;
  margin: 0 auto;
}

section.quote .quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

section.quote .quote-text + p {
  margin-top: 14px;
  text-align: right;
  font-weight: bold;
}
/* Quote section */
